.Menu-main-container {
  display: flex;
  z-index: -1;
}
.Menu-container {
  width: 100%;
  display: grid;
  place-content: center;
  /* z-index: -1; */
}

.Menu-wrapper {
  padding: 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
}

.Menu-item {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 15px;
}

.menu-image {
  width: 80px;
  height: 80px;
}
.menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-details {
  display: flex;
  flex-direction: column;
}

.menu-name span {
  color: green;
}
/* .menu-ingredient {
} */

@media only screen and (max-width: 768px) {
  .Menu-wrapper {
    grid-template-columns: auto;
  }

  .Menu-item {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    position: relative;

    display: flex;
    flex-direction: column;
    /* padding: 5px;
    gap: 15px; */
  }

  .menu-image {
    width: 100%;
    height: 150px;
  }
  .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .menu-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-name {
    padding: 15px 20px;
  }
}
