.slider-container {
  height: 400px;
  width: 100vw;
  margin: 30px 0 30px 0;
  display: grid;
  place-content: center;
}
.slider-container h2 {
  font-weight: 500px;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  background-color: brown;
}
.slider-wrapper {
  height: 350px;
  width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-carousel {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 3);
  /* flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden; */
  gap: 1rem;
  overflow: hidden;
}

.dragging {
  user-select: none;
  scroll-behavior: smooth;
  cursor: grab;
}

.food-img {
  width: 320px;
  height: 300px;
  border-radius: 50%;
  background-color: black;
  border: 8px solid rgba(255, 255, 255, 0.12);
}
.food-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.slider-arrow {
  font-size: 2rem;
  color: green;
  z-index: 1;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); */
}

@media screen and (max-width: 900px) {
  .food-carousel {
    grid-auto-columns: calc(100% / 2);
  }
}
@media screen and (max-width: 600px) {
  .food-carousel {
    grid-auto-columns: 100%;
  }
}
