.slider-container {
  height: 400px;
  width: 100vw;
  margin: 30px 0 30px 0;
  display: grid;
  place-content: center;
}
/* .slider-container h2 {
  font-weight: 500px;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  background-color: brown;
} */
.slider-wrapper {
  height: 350px;
  width: 1200px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-carousel {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden; */
  display: grid;
  width: 100%;
  grid-template-columns: calc(100% / 3);
  grid-auto-flow: column;
  /* grid-auto-flow: column;
  grid-auto-columns: calc(100% / 3); */
  /* flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden; */
  gap: 1.8rem;
  overflow: hidden;
}

.dragging {
  user-select: none;
  scroll-behavior: smooth;
  cursor: grab;
}

.food-img {
  width: 320px;
  height: 300px;
  border-radius: 50%;
  background-color: black;
  border: 8px solid rgba(255, 255, 255, 0.12);
}
.food-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.slider-arrow {
  font-size: 2rem;
  color: green;
  z-index: 1;
}

/*For mobile phones*/
@media only screen and (max-width: 768px) {
  .slider-container {
    height: 300px;
    width: 100vw;
    max-width: 100%;
  }
  .slider-wrapper {
    height: 300px;
    width: 100vw;
    max-width: 100%;
  }
  .food-img {
    width: 200px;
    height: 200px;
  }
  .food-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
  }
}
